#content {
  background-color: #1E2A4A;
  color: #F7F9FA;
  text-align: center;
  padding: 10px;
}

#container {
  background-color: #1E2A4A;
  color: #F7F9FA;
  margin-left: auto;
  margin-right: auto;
}

#header {
  background-color: #1E2A4A;
  color: #F7F9FA;
  text-align: center;
}

#file_overview {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  height: 300px;
}

#fixed_header{
    width: 500px;
    table-layout: fixed;
    border-collapse: collapse;
    margin: auto;
}

#fixed_header tbody{
  display:block;
  width: 100%;
  overflow: auto;
  height: 200px;
  background: grey;
}

#fixed_header thead tr {
  text-align: left;
  display: block;
  width: 500px;
}

#fixed_header thead {
  background: black;
  color:#fff;
  width: 500px;
}

#fixed_header th, #fixed_header td {
  padding: 0px;
  text-align: center;
  width: 120px;
  font-size: 16px;
}

.button_click {
  background-color: #BB2003;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100px;
}

.button_no_click {
  background-color: #AAAAAA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  width: 100px;
}

.form-group{
  background-color: #AAAAAA;
  border: none;
  color: white;
  display: inline-block;
  font-size: 16px;
  width: 10px;
  margin-left: 5px;
}

.record-but{
  background-color: #AAAAAA;
  border: none;
  color: white;
  display: inline-block;
  font-size: 16px;
  width: 30px;
  margin-left: 10px;
}


#record_buttons {
  margin-bottom: 5%;
  width: auto;
}

#record_container {
  border-style: solid;
  background-color: #1E2A4A;
  color: #F7F9FA;
  margin-left: 2%;
  width: 40%;
  float: left;
  height: 450px;
}

#camera_container {
  border-style: solid;
  background-color: #1E2A4A;
  color: #F7F9FA;
  margin-left: 44%;
  margin-right: 2%;
  width: auto;
  height: 450px;
}

#record_time {
  color: white;
  font-size: 40px;
}

#camera_view {
  width: 100%;
  margin: auto;
}

#camview {
  object-fit: contain;
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

#footer {
  background-color: #1E2A4A;
  color: #F7F9FA;
  text-align: center;
  padding: 10px;
  clear: both;
}
