<!DOCTYPE html>
<html>
  <head>
    <title>Monitoring Mice System V0.1</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
  </head>
  <body>
    <div id="content">
      <div id="container">
        <div id="header">
          <h1>Monitoring Mice System V0.1</h1>
        </div>
      </div>
      <div id="container">
        <div id="record_container">
          <div id="file_overview">
            <table id="fixed_header">
              <thead>
                <tr>
                  <th>File Name</th>
                  <th>Start Time</th>
                  <th>Duration</th>
                  <th>Storage</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>File_01.mp4</td>
                  <td>11/02/2020 16:40</td>
                  <td>00:10</td>
                  <td>200 Mb</td>
                </tr>
                <tr>
                  <td>File_01.mp4</td>
                  <td>11/02/2020 16:40</td>
                  <td>00:10</td>
                  <td>200 Mb</td>
                </tr>
              </tbody>
            </table>
          </div>
          <form action="/record" method="post">
            <input type="text" name="record_name" placeholder="video_name" />
            <input type="text" name="record_time" placeholder="00:00:00" />
            <input type="submit" value="Start Recording"/>
            </form>
          <div id="record_buttons">
            <a href={{ url_for( "stop_record") }} class="button_click">Stop Recording</a>
            <a href={{ url_for( "update_image") }} class="button_click">Update View</a>
          </div>
        </div>
        <div id="camera_container">
          <div id="camera_view">
            <img src="{{url_for('static', filename='images/Noir_image.jpg')}}" id="camview"/>
          </div>
        </div>
      </div>
      <div id="container">
        <div id="footer">
            Made in 2020. Available at github_url (insert)
        </div>
      </div>
  </body>
</html>
