<!DOCTYPE html>
<html>
  <head>
    <title>Monitoring Mice System V0.1</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
  </head>

  <body>
    <div id="content">
      <div id="container">
        <div id="header">
          <h1>Monitoring Mice System V0.1</h1>
        </div>
      </div>
      <div id="container">
        <div id="record_container">
          <div id="file_overview">
            Hello
          </div>
          <div id="record_time">
            Hello two
          </div>
          <div id="record_buttons">
            Hello three
          </div>
        </div>
        <div id="camera_container">
          <div id="camera_view">
            Hello 4
          </div>
        </div>
      </div>
      <div id="container">
        <div id="footer">
            Made in 2020. Available at github_url (insert)
        </div>
      </div>
  </body>
</html>
